{% extends 'base.html' %}
{% from "utils/_formhelpers.html" import render_field %}

{% block content %}

    {% with login_url="/login" %}
        {% include "utils/_navbar.html" %}
    {% endwith %}

    {% if message %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endif %}

    <div class="container">
        <div class="row">
          <div class="col-6 mx-auto">
            <form method="post">
                {{ render_field(form.email) }}
                {{ form.submit(class_="btn btn-success") }}
        
                <button type="button" class="btn btn-light">Voltar</button>
        
            </form>
          </div>
        </div>
    </div>

{% endblock %}