{% extends 'base.html' %}
{% from "utils/_formhelpers.html" import render_field %}

{% block content %}
    {% with logout_url="/logout" %}
        {% include "utils/_logout_navbar.html" %}
    {% endwith %}

    <h1>Calendário</h1>
    
    <div class="accordion" id="accordionExample">
        {% for calendar in calendars %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{ calendar.date }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ calendar.date }}" aria-expanded="false" aria-controls="collapse{{ calendar.date }}">
                        Data: {{ calendar.get_date() }}
                    </button>
                </h2>
                <div id="collapse{{ calendar.date }}" class="accordion-collapse collapse" aria-labelledby="heading{{ calendar.date }}" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {% if calendar.consulta_list %}
                            {% for consulta in calendar.consulta_list %}
                                <p>
                                    {{ consulta.cliente_info() }} info: 

                                    {% if consulta.status == "Consulta Confirmada" %}
                                        <span class="text-success"> {{ consulta.status }} </span>
                                    {% elif consulta.status == "Consulta Cancelada" %}
                                        <span class="text-danger"> {{ consulta.status }} </span>
                                    {% else %}
                                        <span class="text-warning"> {{ consulta.status }} </span>
                                    {% endif %}

                                </p> 
                                {% if consulta.status == 'Aguardando Confirmação' %}
                                    <form method="get" action="{{ url_for('cliente.cancelar_consulta', consulta_date=consulta.date, consulta_time=consulta.time) }}">
                                        <button type="submit" class="btn btn-danger">Cancelar</button>
                                    </form>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <p>Todos os horários estão livres!</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

      
    <h1>Agendar Consulta</h1>

    {% if message %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endif %}

    <form method="post">
        {{ render_field(form.date) }}
        {{ render_field(form.time) }}

        <button type="submit" class="btn btn-success">Enviar</button>
    </form>

    <button type="button" class="btn btn-light" onclick="window.history.back()">Voltar</button>

{% endblock %}
