{% extends 'base.html' %}
{% from "utils/_formhelpers.html" import render_field %}

{% block title %} Historico {% endblock %}

{% block content %}
    {% with logout_url="/logout" %}
        {% include "utils/_logout_navbar.html" %}
    {% endwith %}

    <h1>Histórico</h1>

    <h2>Dietas</h2>

    {% for dieta in dietas %}
        <p>{{dieta.name}} | {{dieta.objective}} | {{dieta.restrictions}} | {{dieta.duration}}</p>
    
    {% endfor %}

    <title>Minhas Consultas</title>

    <div class="container mt-5">
        <h2 class="mb-4">Minhas Consultas</h2>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Horário</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for consulta in consultas %}
                    <tr>
                        <td>{{ consulta.date }}</td>
                        <td>{{ consulta.time }} h</td>
                        <td>
                            {% if consulta.status == "Consulta Confirmada" %}
                                <span class="text-success"> {{ consulta.status }} </span>
                            {% elif consulta.status == "Consulta Cancelada" %}
                                <span class="text-danger"> {{ consulta.status }} </span>
                            {% else %}
                                <span class="text-warning"> {{ consulta.status }} </span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}