
  <h2>Create New Diet</h2>
  <form method="POST" action="">
    {{ diet_form.hidden_tag() }}
    {{ food_form.hidden_tag() }}

    {{ diet_form.name.label }} {{ diet_form.name }}
    {{ diet_form.objective.label }} {{ diet_form.objective }}
    {{ diet_form.restrictions.label }} {{ diet_form.restrictions }}
    {{ diet_form.duration.label }} {{ diet_form.duration }}

    <h3>Add Food to Diet</h3>
    {{ food_form.name.label }} {{ food_form.name }}
    {{ food_form.quantity.label }} {{ food_form.quantity }}

    <button type="submit">Save Diet</button>
  </form>
