{% extends 'base.html' %}
{% from "utils/_formhelpers.html" import render_field %}

{% with logout_url="/logout" %}
    {% include "utils/_logout_navbar.html" %}
{% endwith %}

{% block content %}

    <div class="container my-4">
        <h1 class="text-center display-4">Pacientes</h1>
    </div>
    
    <div class="container">
        <div class="list-group">
            {% for cliente in clientes %}
                <a href="{{ url_for('nutricionista.monitorar_paciente', data=cliente.id) }}" class="list-group-item list-group-item-action">
                    {{ cliente.full_name }}
                </a>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped mt-4">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Atividade</th>
                        <th>Intensidade</th>
                        <th>Duração</th>
                        <th>Calorias Queimadas</th>
                    </tr>
                </thead>
                <tbody>
                    {% for activity in activitys %}
                        <tr>
                            <td>{{ activity.data_atividade }}</td>
                            <td>{{ activity.nome_atividade }}</td>
                            <td>{{ activity.intensidade }}</td>
                            <td>{{ activity.duracao }}</td>
                            <td>{{ activity.calorias_queimadas }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}